
* {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#root {
  height: 100%;
  background-color: rgb(237, 239, 245);
  width: 100%;
}

.page-container {
  display: grid;
  grid-template-columns: 20% auto;
  padding-top: 50px;
  gap: 15px; 
  margin-left: 15px;
  margin-right: 15px;
  min-height: 100vh;
  max-height: 100%;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#footer {
  grid-area: footer;
}

#chart {
  width: 100%;
  height: 100%;
}

